    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Welcome!</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-12">
                <a href="/addenquiry" class="btn btn-success btn-lg"><i class="fa fa-plus fa-fw"></i>Add New Enquiry</a>
                </div>
        </div> -->
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4>
                                Enquiry Log</h4>
                            </div>
                            <div class="col-sm-4">
                            <a href="/addenquiry" class="btn btn-lg" style="float:right ;"><i class="fa fa-plus fa-fw"></i>Add New Enquiry</a>
                        </div>
                        </div>
                            
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        
                        <table width="100%" class="table table-bordered table-hover" id="enquiry_table">
                            <thead>
                                <tr>
                                        
                                    <th>Job Ref</th>
                                    <th>Date</th>
                                    <th>Project</th>
                                    <th class="hidden">Project Location</th>
                                    <th>Customer</th>
                                    <th>Product</th>
                                    <th>Qty</th>
                                    <th>Amount</th>
                                    <th>Sales Person</th>
                                    <th>Status</th>
                                    <th >Actions</th>
                                </tr>
                            </thead>
                            
                            <tbody class="table-bordered">
                                    <% items.forEach(function(item){ %>
                                        <tr>
                                            
                                                <td><%= item.job_ref %></td>
                                                <td><%= moment(item.reci_date).format('DD-MM-YYYY'); %></td>
                                                <td><%= item.project %></td>
                                                <td class="hidden"><%= item.location %></td>
                                                <td><%= item.customer %></td>
                                                <td><%= item.product %></td>
                                                <td><%= item.qty %></td>
                                                <td><%= item.amount %></td>
                                                <td><%= item.sales_per %></td>
                                                <td><%= item.status %></td>                                                <td >
                                                    <a href="/editenquiry/<%= item.job_ref %>" class="btn btn-warning btn-xs">Edit</a>
                                                    <a href="/viewenquiry/<%= item.job_ref %>" class="btn btn-info btn-xs">View</a>
                                                </td>
                                            </tr>
                                            <% }); %>
                            </tbody>
                            
                        </table>
                        
                            
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
