<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                
                <div class="panel-heading">
                    <div class="row">
                            <div class="col-sm-10">
                                    <h3>Enquiry #<%= item[0].job_ref %>
                                    </h3>
                            </div>
                            <div class="col-sm-2">
                                    <a href="http://localhost:4000" class="btn btn-lg btn-primary" style="float:right ;"><i class="fa fa-times fa-fw"></i></a>
                                    <a href="/addenquiry" class="btn btn-lg btn-primary" style="float:right ;"><i class="fa fa-print fa-fw"></i></a>
                                    
                                </div>
                                
                            
                        </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <h3 class="page-header">Project Details</h3>
                    <div class="row">
                        <div class="col-lg-4"><h4><i>Project Name :</i> <%= item[0].project %></h4> </div>
                        <div class="col-lg-4"> <h4><i>Location :</i> <%= item[0].location %></h4></div>
                        <div class="col-lg-4"><h4><i>Type :</i> <%= item[0].project_type %></h4> </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-4"><h4><i>Consultant :</i> <%= item[0].consultant %></h4> </div>
                            <div class="col-lg-4"> <h4><i>Contractor :</i> <%= item[0].contractor %></h4></div>
                            <div class="col-lg-4"><h4><i>Client :</i> <%= item[0].client %></h4> </div>
                        </div>
                        <h3 class="page-header">Customer Details</h3>
                    <div class="row">
                        <div class="col-lg-4"><h4><i>Customer Type :</i> <%= item[0].customer_type %></h4> </div>
                        <div class="col-lg-4"> <h4><i>Customer Name :</i> <%= item[0].customer %></h4></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"><h4><i>Contact Person :</i> <%= item[0].contact_per %></h4> </div>
                        <div class="col-lg-4"><h4><i>Contact No. :</i> <%= item[0].contact_num %></h4> </div>
                    </div>
                    <h3 class="page-header">Quotation</h3>
                    <div class="row">
                        <div class="col-lg-12">
                        <table width="100%" class="table table-bordered table-hover">
                            <thead>
                                <th>Revision No.</th>
                                <th>Recieved Date</th>
                                <th>Sent Date</th>
                                <th>Products</th>
                                <th>Qty</th>
                                <th>Amount</th>
                                <th>Note</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>R0</td>
                                    <td><%= item[0].reci_date %></td>
                                    <td><%= item[0].sent_date %></td>
                                    <td><%= item[0].product %></td>
                                    <td><%= item[0].qty %></td>
                                    <td><%= item[0].amount %></td>
                                    <td></td>
                                </tr>
                            </tbody>
                           
                        </table>
                    </div>
                    </div>
                    <h4 class="page-header"></h4>
                    <div class="row">
                            <div class="col-lg-12">
                        <h3>Project Status : <%= item[0].status %></h3>
                        </div>
                    </div>
                        <h4 class="page-header"></h4>
                        <div class="row">
                                <div class="col-lg-6"><h4><i>Quoted by :</i> <%= item[0].app_engg %></h4> </div>
                               
                                <div class="col-lg-6"><h4><i>Sales Call Created by :</i> <%= item[0].sales_per %></h4> </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>